.marg-r{
    margin-right: 30rem;
}

.navbar-brand, .nav-link {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.student-image {
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 50%; 
}