{% extends 'layout.html' %}

{% block content %}
     
        <div class="container mt-4">
            
            <div class="row my-3">
                <div class="col-md-4">
                    <h1>List of Colleges</h1>
                </div>
                
                <div class="col-md-5">
                    <form method="GET" action="{{ url_for('college_bp.search_college') }}" class="d-flex">
                        <div class="input-group mb-3 me-3 w-75 p-0">
                            <label class="input-group-text" for="filter_by">Filter by</label>
                            <select class="form-select form-control-sm" id="filter_by" name="filter_by">
                                <option value="code">Code</option>
                                <option value="name">Name</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-control me-2" type="text" name="search" autocomplete="off" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            
                <div class="col-md-3 text-end">
                    <!-- Button trigger modal for Add Modal (College)-->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#College_Add_Modal" id="addBtn">
                        Add College
                    </button> 
                </div>
            </div>

            <table class="table table-dark">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" class="text-center">Code</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for college in colleges %}
                        <tr class="table-light">
                            <td class="text-center">{{ college.code }}</td>
                            <td class="text-center">{{ college.name }}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <!-- Button trigger modal for Update Modal (College) -->
                                    <button class="btn btn-warning btn-sm mr-2 me-3" data-bs-toggle="modal" data-bs-target="#C_Update_Modal{{ college.code }}">Edit</button>

                                    <!-- Button trigger modal for Delete (College) -->
                                    <button class="btn btn-danger btn-sm delete-btn" onclick="confirmDeleteCollege(this)" college-code="{{ college.code }}" csrf-token="{{ csrf_token() }}">Delete</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>



    <!------------------------------------------------------------------------------------------------------------------>
    <!------------------------------------------------------------------------------------------------------------------>

    <!-- Add Modal (College) -->
    <div class="modal fade" id="College_Add_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add College</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('college_bp.college') }}" id="college_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="collegeCode">College Code</label>
                            <input type="text" class="form-control" id="code" name="code" autocomplete="off" placeholder="e.g CCS">
                        </div>
                        <div class="form-group">
                            <label for "collegeName">College Name</label>
                            <input type="text" class="form-control" id="name" name="name" autocomplete="off" placeholder="e.g College of Computer Studies">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" form="college_form" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>


    <!-- Update Modal (College) -->
    {% for college in colleges %}
    <div class="modal fade" id="C_Update_Modal{{ college.code }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit College</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('college_bp.update_college', college_code=college.code) }}" id="edit_college_form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            <label for="collegeCode">College Code</label>
                            <input type="text" class="form-control" name="code" value="{{ college.code }}" autocomplete="off" placeholder="e.g CCS">
                        </div>
                        <div class="form-group">
                            <label for "collegeName">College Name</label>
                            <input type="text" class="form-control" name="name" value="{{ college.name }}" autocomplete="off" placeholder="e.g College of Computer Studies">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" form="edit_college_form" class="btn btn-warning">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



{% endblock content %}