{% extends 'layout.html' %}

{% block content %}
    
    <section class="hero bg-success text-white text-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Welcome to my Simple Student Information System</h1>
                    <p class="lead">Manages student data with ease.</p>
                    <a href="{{ url_for('college_bp.college') }}" class="btn btn-dark btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <section class="capabilities py-5" style="background-color: #f8f9fa;">
        <div class="container text-center">
            <h2 class="display-4 mb-4">Effortless CRUDL for Colleges, Courses, and Students</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="feature p-4 border rounded border-3">
                        <i class="fas fa-university fa-3x mb-3"></i>
                        <h3>College</h3>
                        <p>Effortlessly perform college creation, modification, retrieval, removal, and listing tasks.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="feature p-4 border rounded border-3">
                        <i class="fas fa-book fa-3x mb-3"></i>
                        <h3>Course</h3>
                        <p>Simplify the processes of adding, editing, viewing, removing, and listing courses.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="feature p-4 border rounded border-3">
                        <i class="fas fa-users fa-3x mb-3"></i>
                        <h3>Student</h3>
                        <p>Simplify student data management: create, update, view, delete, and list.</p>
                    </div>
                </div>
            </div>
            <p class="lead mt-4">Experience the simplicity of complete CRUDL control over your educational ecosystem, streamlining administrative tasks effectively.</p>
        </div>
    </section>


    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            &copy; 2023 Student Information System
        </div>
    </footer>
    
{% endblock content %}