{% extends 'layout.html' %}

{% block content %}
    
    <div class="container mt-4">
                
        <div class="row my-3">
            <div class="col-md-4">
                <h1>List of Students</h1>
            </div>
        
            <div class="col-md-4">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        
            <div class="col-md-4 text-end">
                <!-- Button trigger modal for Add Modal (Student)-->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Student_Add_Modal" id="addBtn">
                    Add Student
                </button> 
            </div>
        </div>

        <table class="table table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">First Name</th>
                    <th scope="col" class="text-center">Last Name</th>
                    <th scope="col" class="text-center">Course</th>
                    <th scope="col" class="text-center">Year</th>
                    <th scope="col" class="text-center">Gender</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>


                {% for student in students %}
                    <tr class="table-light">
                        <td class="text-center">{{ student.id }}</td>
                        <td class="text-center">{{ student.firstname }}</td>
                        <td class="text-center">{{ student.lastname }}</td>
                        <td class="text-center">{{ student.course }}</td>
                        <td class="text-center">{{ student.year }}</td>
                        <td class="text-center">{{ student.gender }}</td>

                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <!-- Button trigger modal for Update Modal (Course)-->
                                <button class="btn btn-warning btn-sm mr-2 me-3" data-bs-toggle="modal" data-bs-target="#C_Update_Modal" id="updateBtn">Update</button>
        
                                <!-- Button trigger modal for Delete Modal (Course)-->
                                <button id="confirmDeleteModal" class="btn btn-danger btn-sm delete-btn" data-bs-toggle="modal" data-bs-target="#Student_Delete_Modal" data-course-code="{{ student.code }}">Delete</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>



<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

<!-- Add Modal (College) -->
<div class="modal fade" id="Student_Add_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        </div>
        <div class="modal-body">
            <form method="POST" action="{{ url_for('student_bp.student') }}" id="student_form">
                <div class="form-group mb-3">
                    <label for="id">Student ID</label>
                    <input type="text" class="form-control" id="id" name="id" autocomplete="off" placeholder="e.g 2032-1565">
                </div>
                <div class="form-group mb-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" autocomplete="off" placeholder="e.g Ethan">
                </div>
                <div class="form-group mb-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" autocomplete="off" placeholder="e.g Grunt">
                </div>
                <div class="form-group mb-3">
                    <label for="course">Course</label>
                    <select class="form-control" id="course" name="course">
                        <option disabled selected>Select Course</option>
                        {% for course in courses %}
                            <option value="{{ course.code }}">{{ course.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="year">Year</label>
                    <select class="form-control" id="year" name="year">
                        <option disabled selected>Select Year</option>
                        <option value="1st_year">1st year</option>
                        <option value="2nd_year">2nd year</option>
                        <option value="3rd_year">3rd year</option>
                        <option value="4th_year">4th year</option>
                        <option value="other">Other</option>
                        
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender">
                        <option disabled selected>Select Year</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>   
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="student_form" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
    
{% endblock content %}